In [6]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [7]:
species = pd.read_csv('species_info.csv', delimiter = ',')
observations = pd.read_csv('observations.csv', delimiter = ',')

In [8]:
print(species.head(), '\n\n')
print(species.dtypes, '\n\n')
print('species dataframe length:', len(species))
print('unique conservations status: ', len(species.conservation_status.unique()))
print('number of NaN conservation status: ', len(species) - len(species[
                                                  (species.conservation_status == 'Species of Concern')
                                                | (species.conservation_status == 'Endangered')
                                                | (species.conservation_status ==  'Threatened')
                                                | (species.conservation_status ==  'In Recovery')
                                                                       ]))
print('unique categories: ', len(species.category.unique()))
print('unique scientific names: ', len(species.scientific_name.unique()))
print('unique common names: ', len(species.common_names.unique()), '\n\n')

print(observations.head(), '\n\n')
print(observations.dtypes, '\n\n')
print('observations datframe length: ', len(observations))
print('unique park names: ', observations.park_name.unique())
print('unique scientific names: ', len(observations.scientific_name.unique()))

  category                scientific_name  \
0   Mammal  Clethrionomys gapperi gapperi
1   Mammal                      Bos bison
2   Mammal                     Bos taurus
3   Mammal                     Ovis aries
4   Mammal                 Cervus elaphus

                                        common_names conservation_status
0                           Gapper's Red-Backed Vole                 NaN
1                              American Bison, Bison                 NaN
2  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN
3  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN
4                                      Wapiti Or Elk                 NaN


category               object
scientific_name        object
common_names           object
conservation_status    object
dtype: object


species dataframe length: 5824
unique conservations status:  5
number of NaN conservation status:  5633
unique categories:  7
unique scientific names:  5541
unique common names:  5504


            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85


scientific_name    object
park_name          object
observations        int64
dtype: object


observations datframe length:  23296
unique park names:  ['Great Smoky Mountains National Park' 'Yosemite National Park'
 'Bryce National Park' 'Yellowstone National Park']
unique scientific names:  5541

In [9]:
print('ORIGINAL SPECIES.head():', '\n')
print(species.head(), '\n\n')

#dropping duplicates but keeping those that have different conservation_status (give 2 scientific_name samples
#with 2 differnt conservations_status entries):
species_no_duplicates = species.drop_duplicates(subset = ['scientific_name', 'conservation_status'])

#fillna:
print('FILL NaN:', '\n')
species_no_duplicates_fillna = species_no_duplicates.fillna('None', inplace = False)
print(species_no_duplicates_fillna.head(), '\n\n')

#dropping NaN:
species_no_duplicates_dropna = species_no_duplicates.dropna().reset_index()

#grouping by:
print('GROUP BY CATEGORY:', '\n')
groupby_species_1 = species_no_duplicates_dropna.groupby(['category']).scientific_name.count().reset_index()
print(groupby_species_1.head(20), '\n\n')

print('GROUP BY CATEGORY + STATUS:', '\n')
groupby_species_2 = species_no_duplicates.groupby(['category',
                                                   'conservation_status']).scientific_name.count().reset_index()
print(groupby_species_2.head(20), '\n\n')

print('PIVOTED:', '\n')
groupby_species_2_pivoted = groupby_species_2.pivot(index = 'category', columns = 'conservation_status',
                                                    values = 'scientific_name').reset_index()

groupby_species_2_pivoted.columns = ['category', 'Endangered', 'In Recovery',
                                     'Species of Concern', 'Threatened']
print(groupby_species_2_pivoted.head(20), '\n\n')

print('PIVOTED + REORDERED:', '\n')
groupby_species_2_pivoted_reordered = pd.DataFrame([groupby_species_2_pivoted.iloc[4],
                                                    groupby_species_2_pivoted.iloc[5],
                                                    groupby_species_2_pivoted.iloc[0],
                                                    groupby_species_2_pivoted.iloc[2],
                                                    groupby_species_2_pivoted.iloc[3],
                                                    groupby_species_2_pivoted.iloc[6],
                                                    groupby_species_2_pivoted.iloc[1]],
                                                   columns = ['category', 'Endangered', 'In Recovery',
                                                             'Species of Concern', 'Threatened'])
print(groupby_species_2_pivoted_reordered, '\n\n')

print('GROUP BY STATUS:', '\n')
groupby_species_3 = species_no_duplicates.groupby(['conservation_status']).scientific_name.count().reset_index()
print(groupby_species_3, '\n\n')

print('REORDERED:', '\n')
groupby_species_3_reordered = pd.DataFrame([groupby_species_3.iloc[1],
                                            groupby_species_3.iloc[2],
                                            groupby_species_3.iloc[3],
                                            groupby_species_3.iloc[0]],
                                           columns = ['conservation_status', 'scientific_name'])
print(groupby_species_3_reordered)

ORIGINAL SPECIES.head():

  category                scientific_name  \
0   Mammal  Clethrionomys gapperi gapperi
1   Mammal                      Bos bison
2   Mammal                     Bos taurus
3   Mammal                     Ovis aries
4   Mammal                 Cervus elaphus

                                        common_names conservation_status
0                           Gapper's Red-Backed Vole                 NaN
1                              American Bison, Bison                 NaN
2  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN
3  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN
4                                      Wapiti Or Elk                 NaN


FILL NaN:

  category                scientific_name  \
0   Mammal  Clethrionomys gapperi gapperi
1   Mammal                      Bos bison
2   Mammal                     Bos taurus
3   Mammal                     Ovis aries
4   Mammal                 Cervus elaphus

                                        common_names conservation_status
0                           Gapper's Red-Backed Vole                None
1                              American Bison, Bison                None
2  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                None
3  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                None
4                                      Wapiti Or Elk                None


GROUP BY CATEGORY:

            category  scientific_name
0          Amphibian                7
1               Bird               75
2               Fish               11
3             Mammal               31
4  Nonvascular Plant                5
5            Reptile                5
6     Vascular Plant               46


GROUP BY CATEGORY + STATUS:

             category conservation_status  scientific_name
0           Amphibian          Endangered                1
1           Amphibian  Species of Concern                4
2           Amphibian          Threatened                2
3                Bird          Endangered                4
4                Bird         In Recovery                3
5                Bird  Species of Concern               68
6                Fish          Endangered                3
7                Fish  Species of Concern                4
8                Fish          Threatened                4
9              Mammal          Endangered                6
10             Mammal         In Recovery                1
11             Mammal  Species of Concern               22
12             Mammal          Threatened                2
13  Nonvascular Plant  Species of Concern                5
14            Reptile  Species of Concern                5
15     Vascular Plant          Endangered                1
16     Vascular Plant  Species of Concern               43
17     Vascular Plant          Threatened                2


PIVOTED:

            category  Endangered  In Recovery  Species of Concern  Threatened
0          Amphibian         1.0          NaN                 4.0         2.0
1               Bird         4.0          3.0                68.0         NaN
2               Fish         3.0          NaN                 4.0         4.0
3             Mammal         6.0          1.0                22.0         2.0
4  Nonvascular Plant         NaN          NaN                 5.0         NaN
5            Reptile         NaN          NaN                 5.0         NaN
6     Vascular Plant         1.0          NaN                43.0         2.0


PIVOTED + REORDERED:

            category  Endangered  In Recovery  Species of Concern  Threatened
4  Nonvascular Plant         NaN          NaN                 5.0         NaN
5            Reptile         NaN          NaN                 5.0         NaN
0          Amphibian         1.0          NaN                 4.0         2.0
2               Fish         3.0          NaN                 4.0         4.0
3             Mammal         6.0          1.0                22.0         2.0
6     Vascular Plant         1.0          NaN                43.0         2.0
1               Bird         4.0          3.0                68.0         NaN


GROUP BY STATUS:

  conservation_status  scientific_name
0          Endangered               15
1         In Recovery                4
2  Species of Concern              151
3          Threatened               10


REORDERED:

  conservation_status  scientific_name
1         In Recovery                4
2  Species of Concern              151
3          Threatened               10
0          Endangered               15

In [11]:
# OBSERVATIONS DATAFRAME:

print('ORIGINAL OBSERVATIONS.head():', '\n')
print(observations.head(), '\n\n')

#grouping by:
print('GROUP BY NAME + PARK:', '\n')
groupby_observations_1 = observations.groupby(['scientific_name',
                                               'park_name']).observations.mean().reset_index()
print(groupby_observations_1.head(20), '\n\n')
#print(groupby_observations_1[groupby_observations_1.scientific_name == 'Canis lupus'], '\n\n')

print('GROUP BY NAME:', '\n')
groupby_observations_2 = observations.groupby(['scientific_name']).observations.mean().reset_index()
print(groupby_observations_2.head(20), '\n\n')

print('GROUP BY PARK:', '\n')
groupby_observations_3 = observations.groupby(['park_name']).observations.sum().reset_index()
print(groupby_observations_3, '\n\n')

#pivoting:
print('PIVOTED:', '\n')
groupby_observations_1_pivoted = groupby_observations_1.pivot(index = 'scientific_name',
                                                              columns = 'park_name',
                                                              values = 'observations').reset_index()
groupby_observations_1_pivoted.columns = ['scientific_name', 'bryce', 'great_smoky_mountains',
                                        'yellowstone', 'yosemite']

#dropping two more duplicates of scientific_name from "species" that have different conservation_status
#keeping the latest conservation status:
species_no_duplicates_2 = species_no_duplicates.drop_duplicates(subset = ['scientific_name']).reset_index()
print(groupby_observations_1_pivoted.head(20), '\n\n')

#merging species and observations tables + dropping useless columns:
print('MERGED SPECIES + OBSERVATIONS PIVOTED:', '\n')
merged_df = species_no_duplicates_2.merge(groupby_observations_1_pivoted).drop(columns = ['index', 'common_names'])
print(merged_df.head(20), '\n')

print('MERGED NON-PIVOTED + FILL NaN:', '\n')
merged_df_2 = species_no_duplicates_2.merge(groupby_observations_2).drop(columns = ['index', 'common_names'])
merged_df_2.fillna('None', inplace = True)
print(merged_df_2.head(20), '\n')

#grouping merged_df_2:
print('MERGED + GROUP BY CATEGORY:', '\n')
merged_df_2_groupby_category = merged_df_2.groupby(['category']).observations.mean().reset_index()
print(merged_df_2_groupby_category, '\n\n')

print('MERGED + GROUP BY CATEROGY + STATUS:', '\n')
merged_df_2_groupby_category_status = merged_df_2.groupby(['category',
                                                           'conservation_status']).observations.mean().reset_index()
print(merged_df_2_groupby_category_status, '\n\n')

ORIGINAL OBSERVATIONS.head():

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85


GROUP BY NAME + PARK:

         scientific_name                            park_name  observations
0          Abies bifolia                  Bryce National Park         109.0
1          Abies bifolia  Great Smoky Mountains National Park          72.0
2          Abies bifolia            Yellowstone National Park         215.0
3          Abies bifolia               Yosemite National Park         136.0
4         Abies concolor                  Bryce National Park          83.0
5         Abies concolor  Great Smoky Mountains National Park         101.0
6         Abies concolor            Yellowstone National Park         241.0
7         Abies concolor               Yosemite National Park         205.0
8          Abies fraseri                  Bryce National Park         109.0
9          Abies fraseri  Great Smoky Mountains National Park          81.0
10         Abies fraseri            Yellowstone National Park         218.0
11         Abies fraseri               Yosemite National Park         110.0
12  Abietinella abietina                  Bryce National Park         101.0
13  Abietinella abietina  Great Smoky Mountains National Park          65.0
14  Abietinella abietina            Yellowstone National Park         243.0
15  Abietinella abietina               Yosemite National Park         183.0
16     Abronia ammophila                  Bryce National Park          92.0
17     Abronia ammophila  Great Smoky Mountains National Park          72.0
18     Abronia ammophila            Yellowstone National Park         222.0
19     Abronia ammophila               Yosemite National Park         137.0


GROUP BY NAME:

                scientific_name  observations
0                 Abies bifolia        133.00
1                Abies concolor        157.50
2                 Abies fraseri        129.50
3          Abietinella abietina        148.00
4             Abronia ammophila        130.75
5          Abutilon theophrasti        142.25
6            Acalypha gracilens        147.25
7          Acalypha ostryifolia        150.00
8           Acalypha rhomboidea        143.75
9            Acalypha virginica        140.00
10             Acanthus flammea        131.00
11           Accipiter cooperii        135.75
12           Accipiter gentilis        145.50
13           Accipiter striatus        111.50
14                 Acer glabrum        131.00
15    Acer glabrum var. torreyi        150.25
16              Acer leucoderme        157.00
17            Acer macrophyllum        131.00
18                 Acer negundo        150.00
19  Acer negundo var. violaceum        140.25


GROUP BY PARK:

                             park_name  observations
0                  Bryce National Park        576025
1  Great Smoky Mountains National Park        431820
2            Yellowstone National Park       1443562
3               Yosemite National Park        863332


PIVOTED:

                scientific_name  bryce  great_smoky_mountains  yellowstone  \
0                 Abies bifolia  109.0                   72.0        215.0
1                Abies concolor   83.0                  101.0        241.0
2                 Abies fraseri  109.0                   81.0        218.0
3          Abietinella abietina  101.0                   65.0        243.0
4             Abronia ammophila   92.0                   72.0        222.0
5          Abutilon theophrasti   84.0                   85.0        262.0
6            Acalypha gracilens   68.0                   98.0        263.0
7          Acalypha ostryifolia   95.0                  112.0        243.0
8           Acalypha rhomboidea   90.0                   96.0        245.0
9            Acalypha virginica  108.0                   80.0        229.0
10             Acanthus flammea   95.0                   68.0        241.0
11           Accipiter cooperii   95.0                   65.0        245.0
12           Accipiter gentilis  109.0                   78.0        232.0
13           Accipiter striatus   62.0                   69.0        200.0
14                 Acer glabrum   30.0                  123.0        247.0
15    Acer glabrum var. torreyi   84.0                   75.0        282.0
16              Acer leucoderme  125.0                  107.0        256.0
17            Acer macrophyllum  105.0                   33.0        252.0
18                 Acer negundo   92.0                   72.0        257.0
19  Acer negundo var. violaceum   91.0                   84.0        222.0

    yosemite
0      136.0
1      205.0
2      110.0
3      183.0
4      137.0
5      138.0
6      160.0
7      150.0
8      144.0
9      143.0
10     120.0
11     138.0
12     163.0
13     115.0
14     124.0
15     160.0
16     140.0
17     134.0
18     179.0
19     164.0


MERGED SPECIES + OBSERVATIONS PIVOTED:

   category                scientific_name conservation_status       bryce  \
0    Mammal  Clethrionomys gapperi gapperi                 NaN  130.000000
1    Mammal                      Bos bison                 NaN   68.000000
2    Mammal                     Bos taurus                 NaN   99.000000
3    Mammal                     Ovis aries                 NaN  119.000000
4    Mammal                 Cervus elaphus                 NaN   91.500000
5    Mammal         Odocoileus virginianus                 NaN   91.500000
6    Mammal                     Sus scrofa                 NaN  120.000000
7    Mammal                  Canis latrans  Species of Concern   85.000000
8    Mammal                    Canis lupus          Endangered   43.333333
9    Mammal                    Canis rufus          Endangered   30.000000
10   Mammal       Urocyon cinereoargenteus                 NaN  123.500000
11   Mammal                   Vulpes fulva                 NaN  114.000000
12   Mammal                  Vulpes vulpes                 NaN   82.000000
13   Mammal                 Felis concolor                 NaN   65.000000
14   Mammal               Felis silvestris                 NaN  103.000000
15   Mammal                     Lynx rufus                 NaN   62.000000
16   Mammal                  Puma concolor                 NaN  103.666667
17   Mammal              Mephitis mephitis                 NaN  113.000000
18   Mammal             Spilogale putorius                 NaN   94.000000
19   Mammal              Lontra canadensis                 NaN   99.000000

    great_smoky_mountains  yellowstone    yosemite
0               98.000000        270.0  117.000000
1               77.000000        269.0  128.000000
2               56.000000        235.0  124.000000
3               76.000000        221.0  126.000000
4               80.500000        247.5  189.500000
5               54.500000        242.0  142.500000
6              102.500000        224.5  136.000000
7               68.000000        206.0   99.000000
8               19.666667        110.0   65.333333
9               13.000000         60.0   34.000000
10              81.000000        227.0  168.000000
11              66.000000        227.0  133.000000
12              76.000000        258.0  134.000000
13              72.000000        284.0  146.000000
14              61.000000        259.0  150.000000
15              30.000000        259.0  157.000000
16              79.666667        251.0  136.000000
17              63.000000        257.0  141.000000
18              80.000000        256.0  137.000000
19              69.000000        219.0  175.000000

MERGED NON-PIVOTED + FILL NaN:

   category                scientific_name conservation_status  observations
0    Mammal  Clethrionomys gapperi gapperi                None    153.750000
1    Mammal                      Bos bison                None    135.500000
2    Mammal                     Bos taurus                None    128.500000
3    Mammal                     Ovis aries                None    135.500000
4    Mammal                 Cervus elaphus                None    152.250000
5    Mammal         Odocoileus virginianus                None    132.625000
6    Mammal                     Sus scrofa                None    145.750000
7    Mammal                  Canis latrans  Species of Concern    114.500000
8    Mammal                    Canis lupus          Endangered     59.583333
9    Mammal                    Canis rufus          Endangered     34.250000
10   Mammal       Urocyon cinereoargenteus                None    149.875000
11   Mammal                   Vulpes fulva                None    135.000000
12   Mammal                  Vulpes vulpes                None    137.500000
13   Mammal                 Felis concolor                None    141.750000
14   Mammal               Felis silvestris                None    143.250000
15   Mammal                     Lynx rufus                None    127.000000
16   Mammal                  Puma concolor                None    142.583333
17   Mammal              Mephitis mephitis                None    143.500000
18   Mammal             Spilogale putorius                None    141.750000
19   Mammal              Lontra canadensis                None    140.500000

MERGED + GROUP BY CATEGORY:

            category  observations
0          Amphibian    137.412975
1               Bird    140.476434
2               Fish    139.553000
3             Mammal    136.288826
4  Nonvascular Plant    143.132883
5            Reptile    141.365385
6     Vascular Plant    142.899206


MERGED + GROUP BY CATEROGY + STATUS:

             category conservation_status  observations
0           Amphibian          Endangered     36.000000
1           Amphibian                None    141.217014
2           Amphibian  Species of Concern    127.750000
3           Amphibian          Threatened     70.500000
4                Bird          Endangered     35.875000
5                Bird         In Recovery    116.000000
6                Bird                None    143.861985
7                Bird  Species of Concern    127.147059
8                Fish          Endangered     37.916667
9                Fish                None    144.305435
10               Fish  Species of Concern    131.812500
11               Fish          Threatened     69.333333
12             Mammal          Endangered     41.097222
13             Mammal                None    142.282249
14             Mammal  Species of Concern    128.297348
15             Mammal          Threatened     72.250000
16  Nonvascular Plant                None    143.253049
17  Nonvascular Plant  Species of Concern    135.250000
18            Reptile                None    142.363014
19            Reptile  Species of Concern    126.800000
20     Vascular Plant          Endangered     40.500000
21     Vascular Plant                None    143.103455
22     Vascular Plant  Species of Concern    128.691860
23     Vascular Plant          Threatened     69.000000